-i https://pypi.python.org/simple
-f https://download.pytorch.org/whl/torch_stable.html
sphinx
sphinx-gallery
sphinx_rtd_theme
sphinxcontrib-bibtex
torch==1.5.0+cpu
torchvision==0.6.0+cpu
opencv-python==4.2.0.34
visdom
pandas
seaborn
matplotlib
pillow
imageio
wget
scikit-image
tqdm
lmdb
msgpack
